## Introdução

In [1]:
## Atalhos
# Crtl + ENTER - Executa
# Shift + ENTER - Cria outra linha

In [3]:
# Imprimir valores
print('Rodrigo')
print(22)
print(98.7)

Rodrigo
22
98.7

In [18]:
# Operações Matemáticas Basicas
print(3 + 4 ) # soma
print(3 - 4 ) # subtração
print(2*2) # produto
print(3.1 * 4 ) #produto 
print(int(3.1 * 4)) # produto inteiro
print(6/3) # divisão
print(7%3) #resto da divisão

7
-1
4
12.4
12
2.0
1

In [32]:
# String = Texto
print('meu nome é rodrigo')
print('meu nome é'+' rodrigo') #concatenação
print('d' in 'rodrigo') # d está contido no 'rodrigo'? true = sim false = não
print('Carlos' in 'Rodrigo tem 22 anos')
print(1 + 2) # espaçamento

meu nome é rodrigo
meu nome é rodrigo
True
False
3

In [42]:
#Variáveis = dar um nome a um valor especifico
qtd_vendas = 1500 # qtd_vendas recebe 1500
nome = 'Vieira'
print(qtd_vendas) #mostrar os valores de vendas
print(nome)

1500
Vieira

In [49]:
#operações com variáveis
faturamento = 200
custo = 60

In [52]:
lucro = faturamento - custo
lucro

140

In [1]:
# interação com o usuário
nome = input('Qual seu nome? \n')
sobrenome = input('E qual seu sobrenome? \n')

Qual seu nome?
Rodrigo
E qual seu sobrenome?
Cruz

In [3]:
print(nome + ' ' + sobrenome)

Rodrigo Cruz

In [4]:
# Quando bugar na parte de interação com o usuário
# Apertar stop (O quadradinho)
# Ou kernel - Restart

In [5]:
# TIPOS DE VARIAVEIS NO PYTHON
numero = 10  # int - inteiro
n_real = 10.4 # float - n com casa decimal
texto = 'Rodrigo' # string - texto
boleano = True # bool ou bolean --> True or False

In [11]:
print(type(numero))
print(type(n_real))
print(type(texto))
print(type(boleano))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [20]:
#Misturando Variaveis
faturamento = 1000
custo = 600
lucro = faturamento - custo
print('O faturamento foi: ' + str(faturamento)) # concatenando string + int (variavel)
print('O custo da loja foi: ' + str(custo) + ' reais')
print('Assim, o lucro da loja foi: ' + str(lucro) + ' reais')

O faturamento foi: 1000
O custo da loja foi: 600 reais
Assim, o lucro da loja foi: 400 reais

In [1]:
#Comando FORMAT (Melhor metodo)
faturamento = 1000
custo = 600
lucro = faturamento - custo

print('O faturamento da loja foi {}'.format(faturamento))
print('O faturamento da loja foi {}. O custo da loja foi {}. E o lucro foi: {}'.format(faturamento,custo,lucro))

O faturamento da loja foi 1000
O faturamento da loja foi 1000. O custo da loja foi 600. E o lucro foi: 400

# Comparadores

- == igual

- != diferente

- (>) maior que (>= maior ou igual)

- < menor que (<= menor ou igual)

- in texto dentro de outro texto

- not verifica o contrário da comparação

- pass para n fazer nada